baseURL = 'https://example.com/'
title = 'Yang in CSU'
theme = 'hugo-book'

# Book configuration
disablePathToLower = true
enableGitInfo = true

# Needed for mermaid/katex shortcodes
[markup]
[markup.goldmark.renderer]
  unsafe = true

[markup.tableOfContents]
  startLevel = 1

googleAnalytics = "G-7875LEFMC7"

[params]
  BookTheme = 'auto'
  BookLogo = 'logo.jpg'
  BookMenuBundle = '/menu'
  BookSection = 'docs'